body{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media (max-width:810px) {
    .container1{
        width: 400px;
    }
    .input{
        width: 400px;
    }
    
}
@media (max-width:415px) {
    .container1{
        width: 300px;

    }
    
    .input{
        width: 300px;
    }
    .btn2{
        height: 45px;
    }
    
}
@media (max-width:299px) {
    .container1{
        width: 200px;

    }
    
    .input{
        width: 190px;
    }
    .btn2{
        height: 45px;
    }
    
}